RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.poeschko\.com$ [NC]
RewriteRule (.*) https://poeschko.com/$1 [L]

AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript image/svg+xml

<FilesMatch "\.(?i:css|png|ico|svg|ttf|woff2)$">
Header set Cache-Control "max-age=604800, public"
</FilesMatch>
